# Python

In [1]:
#list [1,2,3,4,5] or list()

In [2]:
range(2,10)

range(2, 10)

In [3]:
list(range(10))## range can be declared as list()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
range(2,10)

range(2, 10)

In [5]:
list(range(2,20))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [6]:
list(range(3,10,1))

[3, 4, 5, 6, 7, 8, 9]

In [7]:
l=[3,4,5,6,7,6,7,6]
for i in l:
    ##print(i)
    print(i)

3
4
5
6
7
6
7
6

In [8]:
l=[3,4,5,6,7,6,7,6]
for i in l:
    ##print(i)
    print(i+2)

5
6
7
8
9
8
9
8

In [9]:
#want to inside in a list

l=[3,4,5,6,7,6,7,6]
m=[]
for i in l:
    m.append(i+2)## move bit right

In [10]:
#want to inside in a list

l=[3,4,5,6,7,6,7,6]
m=[]
for i in l:
    m.append(i+2)## move bit right

In [11]:
m

[5, 6, 7, 8, 9, 8, 9, 8]

In [12]:
range(10,2)

range(10, 2)

# condition

In [13]:
l=[3,4,5,6,7,6,7,11]
m=[]
for i in l:
    if i>=10:
        m.append(i+2)
        print(m)

[13]

In [14]:
s=10
if s>=10:
    print('its true')
    if type(s) == int:
        print('data integer')
elif s<0:
    print("its falsche")
else :
    print('keine Wahrheit')

its true
data integer

In [15]:
x=[1,2,3,4,5,"faruk","rahim"]
k=[]
for i in x:
    if type(i)==str:
        k.append(i+' mizi')

In [16]:
k

['faruk mizi', 'rahim mizi']

In [17]:
l=[1,2,3,4,5,6] #once it exust entire list denn it will print else statement otherwise not
for i in l:
    print(i)
else:
    print('no data')

1
2
3
4
5
6
no data

In [18]:
x=10
y=0
i=0
while i<=x:
    y=i*3
    i=i+1
    print(y,i)

0 1
3 2
6 3
9 4
12 5
15 6
18 7
21 8
24 9
27 10
30 11

In [19]:
for x in "faruk":
    if x== "a":
        break
    print(x)

f

In [20]:
l=["w","e","r","g","p"]
for x in l:
    if x=="r":
        break
        
else:
    print(x)

In [21]:
k=[1,2,1.3,1.5]
for i in k:
    if i <=1:
        print(i*3)

3

# input() .an input always provied a (str)

In [22]:
##type(input())

In [23]:
#if one want to get output as int denn its need to perform a type casting 

a=input()
b=int(a)#since i want an out as int i need to entire a int value in input not any str
type(b)

3

int

In [24]:
a=int(input())## type casting
l=[5,5,5,6,6,7,3,4,3,56,77,]
m=[]
for i in l:
    if i==a:
        m.append(i)
m

4

[4]

In [25]:
a=input()#no need to type casting since input itself is a str
l=["e","e","f","e",5,5,5,6,6,7,3,4,3,56,77,]
m=[]
for i in l:
    if i==a:
        m.append(i)
m

4

[]

In [27]:
#"sgs"+1##can only concatenate str (not "int") to str 
#concatenate=str + int does not wark together

In [28]:
"sgsg"+str(134)#int type csting to str now its work

'sgsg134'

In [29]:
[1,2,3,4,5]+list("sart")

[1, 2, 3, 4, 5, 's', 'a', 'r', 't']

In [30]:
a=list('sart')
m=[]
for i in a:
    if i=='r':
        continue
    m.append(i)
m

['s', 'a', 't']

In [31]:
l=[1,2,3,4,5,6]## lower and upper number 
print(l[:1],l[5:])

[1] [6]

In [32]:
a="frUK#afds#df"
a.split('#')#split data by delimiter(delimiter means =Trennzeichen)

['frUK', 'afds', 'df']

In [33]:
a="frUKafdsaf"
a.split('a')

['frUK', 'fds', 'f']

### difference between split and partition(in split delimiter not gonna appear but in partition will appear)

In [34]:
a.partition('a')

('frUK', 'a', 'fdsaf')

In [35]:
'i am {}  mizi'.format('faruk')

'i am faruk  mizi'

In [36]:
a=input("plz give your nam")

'your name is {} mizi'.format(a)

plz give your nam

'your name is  mizi'

In [37]:
a.isdecimal()

False

In [38]:
a.isidentifier()

False

In [39]:
a.isprintable()

True

In [40]:
a.isspace()

False

In [41]:
a.istitle()

False

In [42]:
list(34)#list is a iterable(wiederholbar object) but input a int valuse thats why Error

TypeError: 'int' object is not iterable

In [43]:
list("34") #now its a iterable object

['3', '4']

# append and insert find index

In [105]:
s='inserindex'
s.find('s')

2

In [106]:
d=[2,3,4,5]
d.index(4)

2

In [44]:
b=list('asdgag')

In [45]:
b

['a', 's', 'd', 'g', 'a', 'g']

In [46]:
b.append('3')

In [47]:
b #3 has been added as a last number of the b

['a', 's', 'd', 'g', 'a', 'g', '3']

# insert

In [48]:
b.insert(2,'faruk')#with insert we can insert a value wherever we want to

In [49]:
b

['a', 's', 'faruk', 'd', 'g', 'a', 'g', '3']

In [50]:
b.pop(2)

'faruk'

In [51]:
b

['a', 's', 'd', 'g', 'a', 'g', '3']

In [52]:
b.sort()

In [53]:
b

['3', 'a', 'a', 'd', 'g', 'g', 's']

In [54]:
b.append(1)

In [55]:
b

['3', 'a', 'a', 'd', 'g', 'g', 's', 1]

In [56]:
b.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [57]:
b.pop()

1

In [58]:
b

['3', 'a', 'a', 'd', 'g', 'g', 's']

In [59]:
b.sort()

In [60]:
b

['3', 'a', 'a', 'd', 'g', 'g', 's']

In [61]:
a=[1,2,4,5,6,7,8]
b=[6,5,5,7]
c=['a','e','r','h']
d=[a,b,c]

In [62]:
d# reverse

[[1, 2, 4, 5, 6, 7, 8], [6, 5, 5, 7], ['a', 'e', 'r', 'h']]

In [63]:
d.reverse()

In [64]:
d

[['a', 'e', 'r', 'h'], [6, 5, 5, 7], [1, 2, 4, 5, 6, 7, 8]]

In [65]:
k=d
m=[]
for i in k:
    m.append(i.reverse())

In [66]:
k

[['h', 'r', 'e', 'a'], [7, 5, 5, 6], [8, 7, 6, 5, 4, 2, 1]]

In [68]:
for i in k:
    m.append(k[1]*2)
m

[None,
 None,
 None,
 [7, 5, 5, 6, 7, 5, 5, 6],
 [7, 5, 5, 6, 7, 5, 5, 6],
 [7, 5, 5, 6, 7, 5, 5, 6]]

In [92]:
e=[4,5,6,7,'wet',1.2]

In [93]:
e.extend([6,7,8,'dzzhth'])#extend the list

In [94]:
e

[4, 5, 6, 7, 'wet', 1.2, 6, 7, 8, 'dzzhth']

In [95]:
e.extend([1,2,3,[6,7,8,'dzzhth']])

In [96]:
e

[4, 5, 6, 7, 'wet', 1.2, 6, 7, 8, 'dzzhth', 1, 2, 3, [6, 7, 8, 'dzzhth']]

In [97]:
e.index(7)

3

In [98]:
e.index(3526)

ValueError: 3526 is not in list

# tuples

#tuple is a kind of data where can be strage data

In [99]:
e

[4, 5, 6, 7, 'wet', 1.2, 6, 7, 8, 'dzzhth', 1, 2, 3, [6, 7, 8, 'dzzhth']]

In [100]:
e.remove(2)#from first occarnce will be remove

In [101]:
e

[4, 5, 6, 7, 'wet', 1.2, 6, 7, 8, 'dzzhth', 1, 3, [6, 7, 8, 'dzzhth']]

In [102]:
for i in e:
    if i==6:
        e.remove(6)
    elif type(i)==list:
         i.remove(6)

In [103]:
e

[4, 5, 7, 'wet', 1.2, 7, 8, 'dzzhth', 1, 3, [7, 8, 'dzzhth']]

# comprehension

In [116]:
[m*2 for m in [i[1] for i in [[1,2,3],[4,5,6]]]]

[4, 10]

# string is a immutable entity

In [117]:
s='immutable'

In [118]:
s[0]

'i'

In [120]:
#want to replace i to e
s[0]='e'
#shows ('str' object does not support item assignment)

TypeError: 'str' object does not support item assignment

In [121]:
k=[1,2,3,4] #in list item assignment is possible

In [122]:
k[0]

1

In [123]:
k[0]=4546

In [124]:
k

[4546, 2, 3, 4]

# partition

In [126]:
s='you@like'
s.partition('@')

('you', '@', 'like')